<div class="container" [ngStyle]="{marginTop:'50px',color:'darkOrange'}">
    <h4>Edit Theme</h4>
</div>
<div class="container bg-light cont">
    <form [ngStyle]="{margin:'auto'}" class="row marketing pt-4 pl-5 pr-5 mt-4" autocomplete="off" (ngSubmit)="EditTheme()" #form="ngForm">
        <div class="col-lg-6" >
            <div class="form-group">
                <input name="themeName" id="themeName" class="form-control" [ngModel]="themeBooking.themeName" required pattern="[a-zA-Z ]*"
                placeholder="theme name" type="text">
                <div *ngIf="form.controls.themeName?.invalid && (form.controls.themeName?.dirty || form.controls.themeName?.touched)"
                class="text-danger">
                <small>Please enter a valid theme name.</small>
                </div>

                <div class="input-group">
                    <input name="themeImageUrl" id="imageUrl" placeholder="image URL" class="form-control" required [ngModel]="themeBooking.themeImageURL" pattern="^(https?|ftp)://[^\s/$.?#].[^\s]*$" type="text">
                    <div class="input-group-append pt-4">
                    <button *ngIf="form.controls.themeImageUrl?.valid" class="btn btn-primary" type="button" (click)="openImage()">
                        <i class="fa fa-external-link-square custom-icon" aria-hidden="true"></i>
                    </button>
                    </div>
                </div>
                <div *ngIf="form.controls.themeImageUrl?.invalid && (form.controls.themeImageUrl?.dirty || form.controls.themeImageUrl?.touched)" class="text-danger">
                <small>Please enter a valid URL.</small>
                </div>

                <input name="themeCost" id="themeCost" placeholder="theme cost" class="form-control" required [ngModel]="themeBooking.themeCost" type="number" min="2000">
                <div *ngIf="form.controls.themeCost?.invalid && (form.controls.themeCost?.dirty || form.controls.themeCost?.touched)" class="text-danger">
                <small>Please enter a valid theme cost (must be equal to or above ₹2000).</small>
                </div>

            </div>
            <div class="row marketing pt-4 pl-5">
                <img src="../../../../assets/Theme.png" [ngStyle]="{width:'380px',height:'180px'}">
            </div>
        </div>

        <div class="col-lg-6">
              
              <div class="form-group">
                <select name="themeAddress" id="themeAddress" class="form-control" required [(ngModel)]="themeAddress" (ngModelChange)="onThemeAddressChange()" #themeAddressControl="ngModel">
                  <option value="" disabled selected hidden>Select a place</option>
                  <option value="park">Park</option>
                  <option value="restaurant">Restaurant</option>
                  <option value="beach">Beach</option>
                  <option value="boat">Boat</option>
                  <option value="others">Others</option>
                </select>
                <div *ngIf="themeAddressControl.invalid && (themeAddressControl.touched || themeAddressControl.dirty)" class="text-danger">
                  <small>Please select an option.</small>
                </div>
              </div>
              
              <div *ngIf="themeAddress === 'others'" class="form-group">
                <input type="text" name="otherTheme" [(ngModel)]="otherTheme" class="form-control mt-2"
                  placeholder="Enter place name" required #otherThemeControl="ngModel" pattern="^[A-Za-z]+$">
                <div *ngIf="otherThemeControl.invalid && (otherThemeControl.touched || otherThemeControl.dirty)" class="text-danger">
                  <small>Please enter a valid place name.</small>
                </div>
              </div>
              


              <div class="form-group">
                <input name="themeReturnGift" id="returnGift" required [ngModel]="themeBooking.themeReturnGift" placeholder="return gift" class="form-control"
                pattern="[a-zA-Z ]*" required type="text">
                <div *ngIf="form.controls.themeReturnGift?.invalid && (form.controls.themeReturnGift?.dirty || form.controls.themeReturnGift?.touched)"
                class="text-danger">
                  <small>Please enter a valid return gift or type "NA" if not applicable.</small>
                </div>
              </div>


              <div class="form-group">
                <input name="themePhotographer" id="photographerDetails" placeholder="photographer details"
                  class="form-control" required [ngModel]="themeBooking.themePhotographer" pattern="[a-zA-Z]+\s*-\s*\d{10}"
                  title="Please enter the photographer details in the format 'name - number' (e.g., john - 0123456789)"
                  type="text">
                <div
                  *ngIf="form.controls.themePhotographer?.invalid && (form.controls.themePhotographer?.dirty || form.controls.themePhotographer?.touched)"
                  class="text-danger">
                  <small>Please enter the details in the following format: Name - Phone Number (e.g., John - 0123456789).</small>
                </div>
              </div>

              <div class="form-group">
                <input name="themeVideographer" id="videographerDetails" class="form-control" required [ngModel]="themeBooking.themeVideographer"
                  pattern="[a-zA-Z]+\s*-\s*\d{10}"
                  title="Please enter the videographer details in the format 'name - number' (e.g., john - 0123456789)"
                  placeholder="videographer details" type="text">
                <div
                  *ngIf="form.controls.themeVideographer?.invalid && (form.controls.themeVideographer?.dirty || form.controls.themeVideographer?.touched)"
                  class="text-danger">
                  <small>Please enter the details in the following format: Name - Phone Number (e.g., John - 0123456789).</small>
                </div>
              </div>
        
              <div class="form-group">
                <textarea class="commentBox form-control z-depth-1" name="themeDescription" id="themeDescription" rows="3"
                  placeholder="theme description" required [ngModel]="themeBooking.themeDescription" #themeDescriptionRef="ngModel"></textarea>
                <div *ngIf="themeDescriptionRef.invalid && (themeDescriptionRef.dirty || themeDescriptionRef.touched)"
                  class="text-danger">
                  <small>Please fill out this field.</small>
                </div>
              </div>

            <div class="mx-2 mb-3" [ngStyle]="{textAlign:'right'}">
                <div class="btn-group">
                    <button class="btn btn-danger" type="submit" [disabled]="!form.valid">Update Theme</button>
                </div>
            </div>
        </div>

    </form>
</div>