<div class="container mx-auto align-items-center mt-5">
    <div class="col-12 mx-auto input-group">
        <button type="button" class="btn my-4" (click)="AddNav()">
            <img src="../../../../assets/add.png" class="addIcon">
            <span>Add AddOn</span>
        </button>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-xl mx-auto" *ngFor="let AddOn of AddOns">
            <div class="card border-danger fullcard" type="button" style="width: 17rem;">
                <img class="card-img-top image" [src]="AddOn.addOnImageURL" [alt]="AddOn.addOnName">
                <div class="card-body">
                    <div>
                        <h4 style="text-align: left;margin-right: 50px;">{{AddOn.addOnName}}</h4>
                        <p style="text-align: left;font-size: medium;">Price: {{AddOn.addOnPrice | currency:"₹"}}</p>
                    </div>
                    <button (click)="EditNav(AddOn.addOnId)" class="btn btn-outline-warning mr-4 mt-4"
                        style="display: inline-block;font-size: large;">Edit<img src="../../../../assets/edit.png"
                            class="ml-2"></button>
                    <button (click)="DeleteNav(AddOn.addOnId)" class="btn btn-outline-danger mt-4"
                        style="display: inline-block;font-size: large;">Delete<img src="../../../../assets/delete.png"
                            class="ml-2"></button>
                </div>
            </div>
        </div>
    </div>
</div>