.fullcard{
    min-height: 350px;
    width: 260px;
    border-radius: 20px;
    border: 3px solid rgb(116, 116, 116);
    margin-bottom: 40px;
    margin-right: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
}button > img,
button > span {
  vertical-align: middle;
}
.btn{
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.btn-sm{
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
}
.addIcon{
    width: 35px;
    margin-right: 10px;
}
h5{
    height: 50px;
    width: 240px;
    overflow: auto;
}
.image{
    height: 200px;
    width: 265px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.GIF{
    padding-top: 100px;
    margin: auto;
    height: 30px;
}