<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="collapse navbar-collapse">

        <h4 role="button" class="nav nav-brand custom-margin-1" routerLink="/user/getAllThemes">Birthday Event</h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-items light">
                <a class="pl-5 nav-link" type="button" [ngStyle]="{color:'white'}" routerLink="getBookedTheme" routerLinkActive="active">View Booked Event</a>
            </li>
        </ul>
        <h6 class="nav nav-brand custom-margin-2">Hello, {{ userName }}</h6>
        <div class="nav-link dropdown" (click)="toggleDropdown()" (document:click)="onDocumentClick($event)">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user fa-2x"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" [class.show]="showDropdown">
              <span class="dropdown-item button" (click)="logout()">Logout</span>
            </div>
        </div>                                  
    </div>
</nav>

