.application-name {
    text-align: center;
    background-color: rgb(63, 124, 216);
    padding: 10px;
}
  
.title {
    color: white;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}
  

.form-control::placeholder {
    color: white;
}

.form-control:focus {
    box-shadow: none;
    border: none;
    border-bottom: solid whitesmoke;
    background-color: transparent;
    outline: none;
}