thead{
    border-top: 15px;
}
input{
    margin: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.623);
}
Input.ng-touched.ng-invalid{
    border: 2px solid red;
    box-shadow: 2px 2px 7px rgba(245, 3, 3, 0.733);
}

.modal-dialog{
    display:flexbox;
    text-align: justify;
    vertical-align: middle;
}
.modal-content{
    height: max-content;
    width:max-content;
}

.btn-sm{
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
